<!DOCTYPE html>
<html>
  <head>
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css"
      rel="stylesheet"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui"
    />
    <style>
      .v-card--link:before {
        background: transparent;
      }
      .v-card .v-ripple__container {
        display: none !important;
      }
      .isActive {
        transition: all 0.3s ease-in-out;
        border-radius: 100px !important; 
      }
      .noActive {
        transition: all 0.3s ease-in-out;
        border-radius: 250px !important; 
      }

      @import url("https://fonts.googleapis.com/css?family=Roboto:700");

      body {
        margin: 0px;
        font-family: "Roboto";
        text-align: center;
      }

      #container {
        color: #999;
        text-transform: uppercase;
        font-size: 36px;
        font-weight: bold;
        padding-top: 200px;
        position: fixed;
        width: 100%;
        bottom: 45%;
        display: block;
      }

      #spin {
        color: white;
        background-color: #4ec7f3;
      }
      #spin:after {
        content: "";
        animation: spin 3s linear infinite;
        padding: 5px;
      }
      @keyframes spin {
        0% {
          content: "TÊN GỌI";
        }
        50% {
          content: "BÍ DANH";
        }
        100% {
          content: "BÚT DANH";
        }
      }

      .maubd {
        background-image: linear-gradient(
          to right top,
          #d16ba5,
          #c777b9,
          #ba83ca,
          #aa8fd8,
          #9a9ae1,
          #8aa7ec,
          #79b3f4,
          #69bff8,
          #52cffe,
          #41dfff,
          #46eefa,
          #5ffbf1
        );
      }
  

      .mau0 {
        background-color: #fbda61;
        background-image: linear-gradient(45deg, #fbda61 0%, #ff5acd 100%);
      }
      .mau1 {
        background-color: #0093e9;
        background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);
      }
      .mau2 {
        background-color: #4158d0;
        background-image: linear-gradient(
          43deg,
          #4158d0 0%,
          #c850c0 46%,
          #ffcc70 100%
        );
      }
      .mau3 {
        background-color: #d9afd9;
        background-image: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
      }
      .mau4 {
       background-color: #FAACA8;
background-image: linear-gradient(19deg, #FAACA8 0%, #DDD6F3 100%);

      }
      .mau5 {
        background-color: #FA8BFF;
background-image: linear-gradient(45deg, #FA8BFF 0%, #2BD2FF 52%, #2BFF88 90%);


      }
      .mau6 {
        background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
      }
      .mau7 {
        background-color: #FBDA61;
background-image: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);

      }
      .mau8 {
        background-color: #F4D03F;
background-image: linear-gradient(132deg, #F4D03F 0%, #16A085 100%);

      }
      .mau9 {
        background-color: #A9C9FF;
background-image: linear-gradient(180deg, #A9C9FF 0%, #FFBBEC 100%);
      }
    </style>
  </head>
  <body>
    <div id="app">
      <v-app>
        <v-main>
          <br />
          <h1 style="font-size: 50px">
            TÌM HIỂU <span id="spin"></span> CỦA CHỦ TỊCH HỒ CHÍ MÌNH QUA CÁC
            THỜI KỲ
          </h1>
          <br /><br />
          <template>
            <v-sheet class="mx-auto" max-width="1500">
              <v-slide-group
                v-model="model"
                class="pa-4"
                center-active
                show-arrows
                @change="chon"
              >
                <!-- giới thiệu -->
                <v-slide-item v-slot="{ active, toggle }">
                  <v-card
                    :class=" active ? 'isActive maubd': 'noActive maubd' "
                    class="ma-4"
                    :height="500"
                    :width="500"
                    @click="toggle"
                    style="border-radius: 250px"
                  >
                    <v-row class="fill-height" align="center" justify="center">
                      <v-col>
                        <div class="text-h3 white--text font-weight-bold">
                          CHUYÊN ĐỀ
                        </div>
                        <br />
                        <div class="text-h5 white--text">Thực hiện</div>
                        <div class="text-h3 white--text font-weight-thin">
                          Dương Chí Bình
                        </div>
                        <br /><br /><br /><br />
                        <div class="text-subtitle-2 white--text">
                          Ngày 6 tháng 12 năm 2020
                        </div>
                      </v-col>
                    </v-row>
                  </v-card>
                </v-slide-item>
                <!-- end giới thiệu -->

                <v-slide-item
                  v-for="(n,i) in lstmain"
                  :key="n"
                  v-slot="{ active, toggle }"
                >
                  <v-card
                    :class=" active ? 'isActive ' +'mau'+i%10  : 'noActive '  +'mau'+i%10 "
                    class="ma-4"
                    :height="500"
                    :width="500"
                    @click="toggle"                
                  >
                    <v-row class="fill-height" align="center" justify="center">
                      <v-col>
                        <div class="text-h5 white--text">
                           Thời gian: {{n.year}}
                          </div>
                        <div class="text-h4 white--text font-weight-bold">
                            {{n.name}}
                        </div>
                        <br>
                      <center>  <p class="text-body white--text" style="width: 400px;">
                        {{n.description}}
                    </p></center>     
                    <v-btn
                    class="ma-2"
                    outlined
                    color="white"
                      v-bind="attrs"
                      v-on="on"          
                    >
                      Chi tiết
                    </v-btn>
               
                    </div>
                                    
                      </v-col>
                    </v-row>
                  </v-card>
                </v-slide-item>
              </v-slide-group>
            </v-sheet>
          </template>
          <br />
          <template>
            <v-sheet class="mx-auto" elevation="8" max-width="1500">
              <v-slide-group
                v-model="model"
                class="pa-4"
                center-active
                show-arrows
                @change="chon"
              >
                <v-slide-item v-slot="{ active, toggle }">
                  <v-avatar
                    size="62"
                    :color="active ? 'orange' : 'grey lighten-1'"
                    :class=" active ? 'isActive': 'noActive' "
                    @click="toggle"
                    style="cursor: pointer"
                    class="ma-4"
                  >
                    <span class="white--text text-h4 headline">✩</span>
                  </v-avatar>
                </v-slide-item>
                <v-slide-item
                  v-for="(n,i) in lstmain"
                  :key="n"
                  v-slot="{ active, toggle }"
                >
                  <v-avatar
                    size="62"
                    :color="active ? 'orange' : 'grey lighten-1'"
                    :class=" active ? 'isActive': 'noActive' "
                    @click="toggle"
                    style="cursor: pointer"
                    class="ma-4"
                  >
                    <span class="white--text headline">{{n.year}} </span>
                  </v-avatar>
                </v-slide-item>
              </v-slide-group>
            </v-sheet>
          </template>
          <br />
          <v-row justify="center" align="center">
            <span><b>Bài viết tham khảo từ: </b> </span>
            <v-chip draggable class="ma-1"> https://bqllang.gov.vn </v-chip>
            <v-chip draggable class="ma-1"> http://nvhtn.org.vn </v-chip>
            <v-chip draggable class="ma-1"> https://vi.wikipedia.org </v-chip>
       

            
          </v-row>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script>
      new Vue({
        el: "#app",
        vuetify: new Vuetify(),
        data: () => ({
          model: null,        
          lstmain: [
    {
        "name": "Nguyễn Sinh Cung",
        "year":"1890",
        "description":"Đây là tên khai sinh tại làng Hoàng Trù, xã Chung Cự, tổng Lâm Thịnh, huyện Nam Đàn, tỉnh Nghệ An, nay thuộc xã Kim Liên, huyện Nam Đàn, tỉnh Nghệ An."
        
    },
    {
       "name": "Nguyễn Sinh Côn",
        "year":"19xx",
        "description":"Theo một số hồi ký của các bạn học cùng trường Quốc học Huế với Chủ tịch Hồ Chí Minh, Nguyễn Sinh Cung còn thường được gọi là Nguyễn Sinh Côn. Trong một bài viết của Chủ tịch Hồ Chí Minh, năm 1954, Người cũng ghi tên còn nhỏ của mình là Nguyễn Sinh Côn. "
    },
    {
         "name": "Nguyễn Tất Thành",
        "year":"1901",
        "description":"Tháng 5-1901, ông Nguyễn Sinh Sắc đậu Phó bảng khoa thi Hội năm Tân Sửu. Khoảng tháng 9-1901, ông chuyển về sống ở quê nội xã Kim Liên. Theo tục lệ, ông Nguyễn Sinh Sắc được làng Kim Liên được làng Kim Liên đón về và được làng cấp đất công, xuất quỹ làm cho một ngôi nhà. Nhân dịp này ông Nguyễn Sinh Sắc làm “lễ vào làng” cho hai con trai với tên mới: Nguyễn Tấn Đạt (Sinh Khiêm), Nguyễn Tất Thành (Sinh Cung). Thành Đạt là mong muốn của người cha hy vọng vào hai con."
    },
    {
         "name": "Nguyễn Văn Thành",
        "year":"19xx",
        "description":" "
    },
    {
        "name": "Nguyễn Bé Con",
        "year":"1920",
        "description":"Trong tài liệu đề ngày 6 tháng 2, 1920 của Tổng đốc Vinh cung cấp về Nguyễn Sinh Sắc và hai con trai có ghi con trai thứ của Nguyễn Sinh Sắc là Nguyễn Bé Con. Tài liệu mật thám Pháp theo dõi hoạt động của Nguyễn Ái Quốc, bản ghi số 1116, 1931: Nguyễn Ái Quốc hay Nguyễn Tất Thành tức Nguyễn Sinh Côn hay Nguyễn Bé Con tức Lý Thụy "
    },
     {
        "name": "Văn Ba",
        "year":" 1911",
        "description":"Ngày 5/6/1911 Nguyễn Tất Thành rời Việt Nam làm việc trên một chiếc Tàu Pháp. Trong sổ lương của tàu có tên Văn Ba. "
    },
     {
        "name": "Paul Tat Thanh",
        "year":"1912 ",
        "description":"Ngày 15 tháng 12 năm 1912, Nguyễn Tất Thành từ New York gửi thư cho khâm sứ Trung Kỳ nhờ tìm địa chỉ của thân phụ là Nguyễn Sinh Huy. Lá thư ký tên Paul Tất Thành. "
    },
     {
        "name": "Tất Thành",
        "year":" 1914",
        "description":"Từ nước Anh Nguyễn Tất Thành gửi thư cho Phan Chu Trinh ký tên Tất Thành. Hiện có bốn lá thư được sưu tầm ký tên Tất Thành. Một thư ký Cuồng Điệt Tất Thành, ba thư ký C.Đ Tất Thành "
    },
     {
        "name": "Paul Thanh",
        "year":"1915 ",
        "description":"Ngày 16 tháng 4 năm 1915, Nguyễn Tất Thành viết thư cho toàn quyền Đông Dương qua lãnh sự Anh tại Saigon nhờ tìm địa chỉ cha mình. Thư ký tên Paul Thanh "
    },
     {
        "name": "Nguyễn Ái Quốc",
        "year":"1919 ",
        "description":"Tên này có khi Nguyễn Tất Thành ở Pháp cùng sinh hoạt chung với nhóm người gồm các ông Phan Chu Trinh, Phan Văn Trường, Nguyễn Thế Truyền, Nguyễn An Ninh. Nguyễn Tất Thành là người đến gia nhập nhóm sau cùng. "
    },
     {
        "name": "Phéc-đi-năng",
        "year":"19xx ",
        "description":" "
    },
     {
        "name": "Albert de Pouvourville",
        "year":" 1920",
        "description":"Báo Điện Tín Thuộc Địa có truyền đơn trích đoạn từ nhiều tờ báo có liên quan tới vấn đề Đông Dương. Người đăng ký tên Albert de Pouvourville. "
    },
     {
        "name": "Nguyễn A.Q",
        "year":"1921 ",
        "description":"1921-1926. Hai bài báo ký tên Nguyễn A.Q. có tựa “Hãy Yêu Mến Nước Pháp, Người Bảo Hộ Các Anh.” đăng trên báo Người Tự Do, ngày 7 đến 10, 1921. Nguyễn A.Q. còn được ký dưới tranh biếm hoạ ngày 1 tháng 8 năm 1926. "
    },
     {
        "name": "Culixe",
        "year":"1922 ",
        "description":"Nguyễn Ái Quốc ký bút danh Culixe trong một bài viết trên L’Humanité ngày 18 tháng 3 năm 1922. "
    },
     {
        "name": " N.A.Q.",
        "year":" 1922",
        "description":"Bút danh này trên báo Le Paria và L’Humanité từ 1922-1930. "
    },
     {
        "name": "Ng.A.Q.",
        "year":"1922 ",
        "description":"  Bút danh này trên báo Le Paria từ 1922-1925."
    },
     {
        "name": "Henri Tran",
        "year":" 1922",
        "description":"Henri Tchen là tên ghi trong thẻ đảng viên Đảng Cộng Sản Pháp của Nguyễn Ái Quốc. Số thẻ: 13861. "
    },
    {
        "name": "N.",
        "year":"1923 ",
        "description":"Nguyễn Ái Quốc dùng bút danh N. trong các năm 1923-1928 trên Le Paria. "
    },
    {
        "name": "Chen Vang",
        "year":"1923 ",
        "description":"Ngày 13 tháng 6 năm 1923, Nguyễn Ái Quốc bí mật rời Paris đi Liên Sô, Tổ Quốc Cách Mạng. Ngày 16 tháng 6 năm 1923, Nguyễn Ái Quốc đến nước Đức. Tại đây, Nguyễn được cơ quan đặc mệnh toàn quyền Cộng Hòa Xã Hội Chủ Nghiã Sô Viết Liên Bang tại Berlin cấp cho giấy đi đường số 1829. Trong giấy này Nguyễn Ái Quốc mang tên Chen Vang "
    },
    {
        "name": "Nguyễn",
        "year":"1923 ",
        "description":"Bút danh này trong các năm 1923, 1924, 1928 trên Le Paria."
    },
    {
        "name": "Chú Nguyễn",
        "year":"1923 ",
        "description":"Thư này Nguyễn Ái Quốc gửi đến các bạn cùng hoạt động tại Pháp trước khi rời Paris đi Liên Sô "
    },
    {
        "name": "Lin",
        "year":"1924 ",
        "description":"Nguyễn Ái Quốc dùng tên Lin trong thời gian ở Liên Sô từ 1923-1924 và 1934-1939. Tên Lin xuất hiện lần đầu tiên trong bức điện thư gửi Ban Phương Đông của Quốc Tế Cộng Sản, đề ngày 14 tháng 4, 1924. Tháng 10 năm 1934, Lin được nhận vào trường Quốc Tế Lenin Liên Sô, năm học 1934-1935. Tên Lin số hiệu 375. Tháng 8 năm 1935, Lin dự đại hội lần thứ VII của Quốc Tế Cộng Sản. "
    },
    {
        "name": "Ái Quốc",
        "year":" 1924",
        "description":"Ái Quốc là tên ghi trong thẻ dự đại hội V Quốc Tế Cộng Sản, tháng 6 năm 1924. Tháng 8 năm 1927 Nguyễn Ái Quốc gửi đồng chí Francois Billous tấm bưu ảnh, trong đó ký tên Ái Quốc. Sau này còn một số thư khác với tên Ái Quốc. "
    },
    {
        "name": " Un Annamite",
        "year":"1924 ",
        "description":"Bút danh Annamite được ký dưới một bài viết trên Le Paria. "
    },
    {
        "name": "Loo Shing Yan",
        "year":"1924 ",
        "description":" Bài “Thư Từ Trung Quốc, số 1”, ngày 12 tháng 11 năm 1924, Nguyễn Ái Quốc viết về phong trào cách mạng Trung Quốc, sự thức tỉnh, giác ngộ cách mạng cho phụ nữ Trung Quốc, gửi tạp chí Rabotnhitxa. Trong bài này, Nguyễn Ái Quốc ký tên Loo Shing Yan, một nữ đảng viên Quốc Dân Đảng. Nguyễn Ái Quốc gửi thư cho ban biên tập tạp chí, ngày 12 tháng 11 năm 1924, giải thích: “Khi tôi còn ở Quốc Tế Cộng Sản, tôi rất phấn khởi được đôi lần cộng tác với tờ báo của các đồng chí. Nay muốn tiếp tục sự cộng tác ấy. Nhưng vì tôi ở đây hoạt động bất hợp pháp, cho nên tôi gửi bài cho các đồng chí  dưới hình thức “Những bức thư từ Trung Quốc” và ký tên một phụ nữ. Tôi nghĩ rằng làm như vậy bài viết có tính chất độc đáo hơn và phong phú hơn đối với độc giả, đồng thời cũng đảm bảo giữ được tên thật của tôi”."
    },
    {
        "name": "Ông Lu",
        "year":"1924 ",
        "description":"Ngày 12 tháng 11 năm 1924, Nguyễn Ái Quốc viết thư gửi cho một đồng chí trong Quốc Tế Cộng Sản báo tin ông Lu đã đến Quảng Châu, Trung Quốc. Cuối thư đề điạ chỉ liên lạc: Ông Lu, Hãng thông tấn Roxta, Quảng Châu, Trung Quốc. Sau này trong nhiều thư khác Nguyễn Ái Quốc cũng ghi địa chỉ liên lạc là Ông Lu. "
    },
    {
        "name": " Lý Thụy",
        "year":"1924 ",
        "description":"Nguyễn Ái Quốc dùng bí danh Lý Thụy trong thời gian hoạt động ở Trung Quốc. Ngày 11 tháng 11 năm 1924, Nguyễn Ái Quốc đến Quảng Châu với các giấy tờ tùy thân mang tên Lý Thụy. Trong bức thư gửi Quốc Tế Cộng Sản, ngày 18 tháng 12 năm 1924, Nguyễn Ái Quốc ghi ở cuối thư: “Trong lúc này tôi là một người Trung Quốc, chứ không phải là một người An Nam, và tên tôi là Lý Thụy chứ không phải là Nguyễn Ái Quốc”. "
    },
    {
        "name": "Lý An Nam",
        "year":"1924 ",
        "description":" 1924-1925. Nguyễn Ái Quốc hoạt động ở Quảng Châu với bí danh Lý Thụy, làm phiên dịch trong văn phòng của Đoàn cố vấn Sô Viết. Lý Thụy cũng có biệt danh là Lý An Nam lúc này."
    },
    {
        "name": "Nilopxki (N.A.Q.)",
        "year":" 1924",
        "description":"Cuối năm 1924, Nguyễn Ái Quốc tới Quảng Châu, Trung Quốc, làm việc tại cơ quan của Borodin. Hiện sưu tầm được tất cả 6 lá thư Nguyễn Ái Quốc ký tên Nilopxki. "
    },
    {
        "name": "Vương",
        "year":"1925 ",
        "description":" Là giảng viên huấn luyện chính trị tại Quảng Châu, Nguyễn Ái Quốc lấy tên là Vương. Vương cũng là bí danh để bắt liên lạc với Nguyễn Lương Bằng ở Trung Quốc, 1925. "
    },
    {
        "name": " L.T.",
        "year":"1925 ",
        "description":" Nguyễn Ái Quốc ký tên L.T. gửi thư cho ông H (Thượng Huyền) ngày 9 tháng 4 năm 1925. Sau ngày Nguyễn Ái Quốc còn viết khoảng 15 bài trên báo Nhân Dân với bút hiệu L.T. từ các năm 1949, 1957, 1958, 1960. "
    },
    {
        "name": "Howang T.S.",
        "year":"1925 ",
        "description":"Ngày 2 tháng 5 năm 1925, Nguyễn Ái Quốc lấy bút hiệu Howang viết về đại hội công nhân và nông dân. "
    },
    {
        "name": "Z.A.C.",
        "year":" 1925",
        "description":" Bút hiệu này được đăng trên báo Thanh Niên. "
    },
    {
        "name": "Lý Mỗ",
        "year":"1925 ",
        "description":" Báo Công Nhân Chi Lộ Đặc Hiệu, số 20, ra ngày 14 tháng 7 năm 1925, đã đưa tin một người Việt Nam gia nhập đội diễn thuyết và để giữ bí mật, Nguyễn Ái Quốc có tên là Lý Mỗ."
    },
    {
        "name": "Trương Nhược Trừng",
        "year":" 1925",
        "description":" "
    },
    {
        "name": "Vương Sơn Nhi",
        "year":" 1925",
        "description":" Viết trên báo Thanh Niên với bút danh Vương Sơn Nhi, Trương Nhược Trừng."
    },
    {
        "name": "Vương Đạt Nhân",
        "year":" 1926",
        "description":"Với bút danh này, Nguyễn Ái Quốc được Đoàn Chủ Tịch Đại Hội đại biểu toàn quốc lần thứ 2 của Quốc Dân Đảng Trung Quốc mời đến dự và phát biểu ý kiến. Ngày họp là 14 tháng 1 năm 1926. "
    },
    {
        "name": "Mộng Liên",
        "year":" 1926",
        "description":"Mộng Liên được ký dưới bài viết “Mục Dành Cho Phụ Nữ” đăng trên báo Thanh Niên, số 40, ngày 4 tháng 4 năm 1926. "
    },
    {
        "name": "X.",
        "year":" 1926",
        "description":"  Bút danh này dùng trong các năm 1926, 1927. X. viết loạt bài nhan đề “Các Sự Biến Ở Trung Quốc”, đăng trên 7 số báo L’Annam."
    },
    {
        "name": "H.T.",
        "year":"1926 ",
        "description":" Cùng với bút danh Mộng Liên, H.T. là bút danh của Nguyễn Ái Quốc viết bài cho báo Thanh Niên. “Còn một số bút danh khác như Hạ Sĩ, Hương Mộng, Diệu Hương v.v.. có thể cũng là bút danh của Nguyễn Ái Quốc, bởi lúc đó chưa có nhiều người viết bài cho báo Thanh Niên”."
    },
    {
        "name": "Tống Thiệu Tổ",
        "year":"1926 ",
        "description":" Theo hồi ký của một số người hoạt động ở Quảng Châu, Trung Quốc, Tống Thiệu Tổ là bí danh của Nguyễn Ái Quốc khi ông ta hoạt động ở Quảng Châu, Trung Quốc."
    },
    {
        "name": "X.X.",
        "year":"1926 ",
        "description":" Nguyễn Ái Quốc ký bút danh này trên một bài đăng trong Inprekorr, số 91, ngày 14 tháng 8 năm 1926."
    },
    {
        "name": "Wang",
        "year":"1927 ",
        "description":" Bài viết dưới bút danh Wang được đăng trên Thư Tín Quốc Tế (Inprekorr)."
    },
    {
        "name": "N.K.",
        "year":" 1927",
        "description":"Cũng trong Thư Tín Quốc Tế. "
    },
    {
        "name": "N. Ái Quốc",
        "year":"1927 ",
        "description":" "
    },
    {
        "name": "Liwang",
        "year":"1927 ",
        "description":" Ngày 16 tháng 12 năm 1927, từ Berlin Nguyễn Ái Quốc viết thư cho Đoàn Chủ Tịch Quốc Tế Nông Dân, đề nghị giúp đỡ tiền để về nước. Thư viết: “Trong 2 hoặc 3 tuần nữa tôi  sẽ trở về đất nước tôi. Chuyến đi của tôi tốn chừng 500 dollars Mỹ. Vì tôi không có tiền nên tôi mong các đồng chí giúp tôi”. Thư ký tên N. Ái Quốc. Trong thư, Nguyễn Ái Quốc đề nghị nếu có tiền xin gửi đến Uỷ Ban Trung Ương của Đảng Cộng Sản Đức, chuyển cho  “Liwang.”"
    },
    {
        "name": "Hồ Chí Minh",
        "year":"1942 ",
        "description":" Để đánh lạc hướng khi hoạt động tại Trung Quốc, Nguyễn Ái Quốc lấy tên mới là Hồ Chí Minh. Ngày 13 tháng 8 năm 1942, Hồ Chí Minh đi Trung Quốc. Ngày 27 tháng 8 năm 1942 tại Túc Vinh Hồ Chí Minh bị bắt. Khi kiểm soát giấy tờ thì thấy thẻ hội viên Hồ Chí Minh là “Hội Ký Giả Thanh Niên Trung Quốc.” Hồ Chí Minh bị phe Tưởng Giới Thạch nghi ngờ là gián điệp cộng sản và bị bắt giải đi giam qua 13 huyện thị của tỉnh Quảng Tây. Ngày 10 tháng 9 năm 1943 Hồ Chí Minh được thả."
    }
    
],
        }),
        methods: {
          chon(event) {},
        },
      });
    </script>
  </body>
</html>
